
/* Global */
@font-face {
	font-family:Marija;
	src: url('font/Roboto-Black.ttf');
}

body {
	margin: 0;
	/*font: normal 14px/22px Arial, Sans-Serif;*/
	font-family: 'Marija', sans-serif;
	color: #123;
	background-image: url("../pics/background.png");
	background-image:100%;
	background-position: right;
	background-attachment:fixed;
	background-repeat:no-repeat;
}


a {
	color: #366a94;
	text-decoration: none;
	outline: 0;
}

	a:hover {
		
	}
	
	a img {
		border: 0;
	}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	padding:10px;
}

p {
	margin: 20px 0;
	padding:10px;
}

blockquote {
	margin: 20px 0;
	font-style: italic;
}

ul {
	margin: 20px 0;
}

table {
	
}

table, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

form {
	margin: 0;
	padding: 0;
}

input, textarea, select, button {
	outline: 0;
	margin: 0;
	font: normal 14px Arial, Sans-Serif;
}

	input::-moz-focus-inner, button::-moz-focus-inner {
		border: 0;
	}

textarea {
	line-height: 22px;
	resize: none;
}


/* Clear */

.clear {
	clear: both;
}

.clearfix {
	display: block;
	zoom: 1;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

div{
	box-sizing: border-box;
}

ul.navigation li a{
	color:#fff;
	
}

ul.navigation li a:hover{
	color:red;
}
ul.navigation li{
	display:inline-block;
	margin:0 100px;
}

/*App style */

.container{
	margin:0 auto;
	width:1200px;
	
}
.linija{
	border:1px solid #000;
}

.header{
	background:#000;
	color:#fff;
}

.logo{
	width:200px;
	float:left;
}
.slicica {
	width:200px;
	height:300px;
}
.banner {
	width:1000px;
	float:left;
}
.navigacija{
	width:100%;
}

/*content style*/
.page {
	display:flex;

}

.content{
	width:900px;
	float:left;

}

.sidebar{
	width:300px;
	float:left;
	background:#000;
	color:#FFF;
}

/*footer style*/

.footer{
	background:#000;
	color:#fff;
	width:100%;

	
}
.foot{
	width:100px;
	float:left;	
	margin:0 100px;
}

form {
	padding:30px;
}
.copy {
	margin:5 px bottom;
	text-align:center;
	

}