<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <connectionStrings>
    <add name="local_connect" connectionString="Data Source=.;Initial Catalog=Dozvole;User ID=sa;Password=sa"/>
   <!--<add name="local_connect" connectionString="Data Source=10.0.4.35;Initial Catalog=DOZVOLA;User ID=sa;Password=sa" />-->
  </connectionStrings>
  
  <appSettings>
    <add key="KLJ_USER" value="sa"/>
    <add key="KLJ_PASW" value="sa"/>
    <add key="KLJ_BAZA" value="Dozvole"/>
    <add key="KLJ_SERV" value="."/>   
    <add key="putanjaPdf" value="D:\Web_VucaDozvole\VucaDozvole\VucaDozvole\ReportPdf\"/>   
  
    <add key="Godina" value="2016"/>
    <add key="MesecPoc" value="09"/>
    <add key="Stampac" value="Lexmark E340 (MS)"/>
  </appSettings>

  <system.webServer>
    <directoryBrowse enabled="true"/>
    <defaultDocument>
      <files>
        <add value="MasterDoz.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  

</configuration>
