footer p {
		text-align:center; font-size:80%;
	}
	.glavni-meni{
		background-color:black;
		padding:10px;
	}
	.glavni-meni nav > a{
		color:white; font-weight:bold; padding:10px;
	}
	
	.btn-info{
		background-color:red;
	}
	.specijalna-ponuda .kurs,
	.last-minute .kurs
	{
		padding-bottom:20px;
	}
	.glavni-sadrzaj{
		border-right:1px solid silver;
	}
	body{
		background-color:silver;
	}
	
.tabela{
	border:1px solid black; 
	width:100%;
	border-collapse: collapse;
}

.tabela  td:nth-child(1){
	width:50%;
}
.tabela  td:nth-child(2){
	width:40px;
}

.tabela td{
	border:1px solid red; 
}
.tabela tr:nth-child(2n+1) td{
	background-color:silver;
}	
	
	
ol{
	/*
	list-style-type:none;
	margin:0;
	padding:0;
	*/
	
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	