<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="timer_interval" value="10000" />
    <add key="write_log" value="1" />
    <!-- PwdCrypt 0 for now-->
    <add key ="PwdCrypt" value="0"/>
    <add key="connectionString" value="Password=ecim;Persist Security Info=True;User ID=ecim;Initial Catalog=E-CIM;Data Source=X-254A9D0728A14" />
    <add key="providerName" value="SQLOLEDB.1;" />
    <!-- monitor extensions: what files this service will read and analyze.  -->
    <!-- ".xml" means .xml files only -->
    <!-- "" means files without extensions only -->
    <!-- ".xml;" or ";.xml" means .xml and files without extensions -->
    <add key ="monitor_extensions" value=".xml;"/>
  </appSettings>
</configuration>