table {
	background-color:red;
}

//#pravougaonik{
	width:200px;
	height:50px;
	background-color:blue;
	//margin:400px 200px 50px 400px;
	margin : 100px auto;
	padding-left:50px;
	padding-bottom:100px;
	border:10px solid #000;
	
	box-sizing: border-box;
	
	display:inline-block;
	
	position:absolute;
	left:0;
	top:0;
}
	
//.mali{
		width:200px;
		height:100px;
		background-color:black;
		position:absolute;
		bottom:20px;
		right:20px;
	}
	
//.veliki{
		width:600px;
		height:400px;
		background-color:blue;
		position:relative;	
	}
	
.box{
	width:200px;
	height:100px;
	border:1px solid #000;
	//display:inline-block;
	float:left;
	//transform: rotate(30deg);
}

.crvena{
	background-color:red;
	transform:translate(0,-50px);
}

.crvena:hover{
	background-color:purple;
	transition-property:background-color;
	transition-duration:1s;
}

.plava{
	background-color:blue;
	transform:translate(0,30px);
	transform: rotate(30deg);
	//transform:scale(2,3);
}
.plava:hover{
	background-color:green;
	transition-property:background-color;
	transition-duration:1s;
}
.clear{
	clear:both;
}