	footer p {
		text-align:center; font-size:80%;
	}
	.glavni-meni{
		background-color:black;
		padding:10px;
	}
	.glavni-meni nav > a{
		color:white; font-weight:bold; padding:10px;
	}
	
	.btn-info{
		background-color:red;
	}
	.specijalna-ponuda .kurs,
	.last-minute .kurs
	{
		padding-bottom:20px;
	}
	.glavni-sadrzaj{
		border-right:1px solid silver;
	}
	body{
		background-color:silver;
	}
	
	
	nav a.active{ color:red; }